.card-detail {
    display: flex;

    .card-detail-caption {
        font-weight: 600;
        color: #363535;
      }
      
      .card-detail-value {
        color: #615d5d;
      }

    > div:first-child {
        margin-right: 10px;
    }

    > div:not(:last-child) {
        margin-right: 10px;
    }
  }
  