.star-wars-card {
    display: flex;
    flex-basis: 33.33%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
      @include tablet{
      flex-basis: 49%;
    }
  }
  
  .content-wrapper {
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    border-color: "#c3bebe";
  }
  
  .character-basic-info-container {
    display: flex;
    flex-direction: column;



    .character-details {
        // border: 2px solid #6db96d;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding: 2px;
        // border-radius: 5px;
        // background-color: #a2e8a2;
        // color: #096909;
        // font-family: Arial, Helvetica, sans-serif;
        // width: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border-radius: 5px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 100px;
        margin: 10px 0px;
        align-self: center;
    
        > a {
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
  }
  
  .card-header {
    display: flex;
    font-size: 30px;
    width: 100%;
  }
  
  .character-name{
    display: flex;
    flex-shrink: 1;
    flex-basis: 100%;
    justify-content: center;
  }
  
  .header-spacer{
    display: flex;
    flex-shrink: 0;
    flex-basis: 10px;
  }
  
  .header-star-container{
    @extend .header-spacer;
    position: relative;
  
    .favorite-icon {
      position: absolute;
      right: 5px;
      top:5px;
      transition: transform .2s ease-in;
  
      &:hover{
        transform: scale(1.3);
      }
    }
    .favorite-icon-is-favorite{
      @extend .favorite-icon;
    }
  }

  .card-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .card-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .card-exit {
    opacity: 1;
  }
  .card-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }