.form-wrapper{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form{
        width: 50%;
        
        .controls-wrapper{
            .control-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 10px;

                &.valid-error{
                    input,textarea{
                        border: 1px solid #fd4021!important;
                        outline: none;
                        box-shadow: 1px 1px 7px -1px #fd4021;
                    }

                    p{
                        visibility: visible;
                    }
                }

                p{
                    color: red;
                    margin-block: 0;
                    visibility: hidden;
                }
        
                label{
                    display: flex;
                    justify-self: flex-start;
                    font-weight: 600;
                }
            
                input[type="text"], input[type="email"], input[type="tel"]{
                    height: 25px;
                    border-radius: 4px;
                    outline: none;
                    border: 1px solid#aba5a5;;
                    width: 250px;
                    padding: 3px;

                    &:hover{
                        border: 1px solid #63efe8;
                        outline: none;
                    }

                    &:focus{
                        border: 1px solid #63efe8;
                        outline: none;
                        box-shadow: 1px 1px 7px -1px #63efe8;
                    }
                }
            
                input[type="checkbox"]{
            
                }
        
                textarea{
                    @extend input[type="text"];
                    height: 60px;
                    resize: none;
                }
            }
        }
    }
}