.search-component {
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    border-radius: 3px;
    padding-right: 5px;
    min-width: 220px;
    width: 260px;
    flex-shrink: 0;
    margin-left: 10px;

    .search-icon-wrapper {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e1efeb;
        height: 100%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .search-input-wrapper {
        height: 100%;
        padding-left: 5px;

        .search-input {
          border: none;
          height: 100%;
          padding: 0px;
          caret-color: #a4a5a7;
          font-size: 18px;
          &:focus {
            outline: none;
          }
        }
      }
  }

  .filter-icon{
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    color: antiquewhite;
  }

  