.theme-dark{
    background-color: #242323;
    .content-wrapper{
        border: 1px solid #363636;
        .card-header{
            color: #2c738f;
            .header-star-container{
                .favorite-icon{
                    color: rgb(114,114,114);
                }
                .favorite-icon-is-favorite{
                    color: #bfba7f;
                }
            }
        }
        .character-details{
            border: 2px solid #1d641d;
            background-color: #3a873a;
            color: #d5d0d0;
        }
    }
    .pagination{
        background-color: #262525;
        .active{
            background-color: #6a5a3d;
            border-color: #8e8c8c;
        }
        li{
            color: #979494; 
            &:hover {
                  background-color: #d2bfbf;
            }     
        }
    }

    .control-wrapper{
        label{
            color:#818181;
        }
        input, textarea{
            background-color: #dddddd;
            &:focus{
                border-color: #09a199!important;
                box-shadow: 1px 1px 7px -1px #0bbbb2;
            }

            &:hover{
                border: #09a199;
            }
        }
    }

    .card-detail-caption{
        color:#818181;
    }
}
.theme-light{
    background-color: white;
    .content-wrapper{
        border: 1px solid #c3bebe;
        .card-header{
            color: #449abb;
            .header-star-container{
                .favorite-icon{
                    color: #c3bebe;
                }
                .favorite-icon-is-favorite{
                    color: #d0c438;
                }
            }
        }
        .character-details{
            border: 2px solid #119611;
            background-color: #42ad42;
            color: white;
        }
    }
    .pagination{
        background-color: #262525;
        .active{
            background-color: #d8b87f;
            border-color: #8e8c8c;
        }
        li{
            color: #484545;
            &:hover {
                cursor: pointer;
                background-color: #d2bfbf;
              } 
        }
    }

    .control-wrapper{
        input{
            &:focus{
                border-color: #63efe8!important;
                box-shadow: 1px 1px 7px -1px #63efe8;
            }

            &:hover{
                border: 1px solid #63efe8!important;
            }
        }
    }

    .card-detail-caption{
        color: #363535;
    }
}
